@page "/buzzer"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using QuizApp.Models
@using QuizApp.Services
@inject NavigationManager Navigation
@inject BuzzerLobbyManagementService BuzzerService

<div class="container-sm buzzer-index-container">
    <h1 class="title-centered">Buzzer</h1>
    @if (hostingFailed)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Hosting failed!</strong> Try again later.
        </div>
    }
    
    <button @onclick="CreateLobbyCode" class="btn btn-secondary buzzer-host-button">Host Lobby</button>
    <div class="card buzzer-join-container">
        <div class="card-body">
            <h5 class="card-title">Join Lobby</h5>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Lobby code" aria-label="Lobby code" @bind="joinLobbyCode" @bind:event="oninput" @bind:after="OnLobbyCodeInput">
                <button @onclick="JoinLobby" class="btn btn-success">Join Lobby</button>
            </div>
        </div>
    </div>
    @if (lobbyDoesntExist)
    {
        <div class="alert alert-danger buzzer-lobby-alert" role="alert">
            Lobby code <strong>@joinLobbyCode</strong> does not exist!
        </div>
    }
</div>


@code {
    private string hostUrl = "/buzzer/host/";
    private string playUrl = "/buzzer/play/";
    private string lobbyCode = "";
    private string joinLobbyCode = "";
    private bool hostingFailed = false;
    private bool lobbyDoesntExist = false;

    protected override async Task OnInitializedAsync()
    {

    }

    private void CreateLobbyCode()
    {
        hostingFailed = false;
        int createAttempts = 0;
        lobbyCode = BuzzerService.CreateLobbyCode();
        BuzzerService.CheckForExpiredLobbies();
        var lobbies = BuzzerService.GetLobbies().ToList();
        while (lobbies.FindIndex(element => element.LobbyCode == lobbyCode) >= 0)
        {
            lobbyCode = BuzzerService.CreateLobbyCode();
            createAttempts++;
            if(createAttempts > 20)
            {
                hostingFailed = true;
                return;
            }

        }
        BuzzerService.AddLobby(lobbyCode);
        Navigation.NavigateTo(hostUrl + lobbyCode);
    }

    private void JoinLobby()
    {
        var lobbies = BuzzerService.GetLobbies().ToList();
        if(lobbies.FindIndex(element => element.LobbyCode == joinLobbyCode) < 0)
        {
            lobbyDoesntExist = true;
        }
        else
        {
            lobbyDoesntExist = false;
            Navigation.NavigateTo(playUrl + joinLobbyCode);
        }
    }

    private void OnLobbyCodeInput()
    {
        hostingFailed = false;
        lobbyDoesntExist = false;
    }
}
