@page "/imprint"
<div class="container-sm">
    <h1>Impressum</h1>

    <p>
        Kevin Hellenbrandt<br />
    </p>
    <h2>Kontakt</h2>
    <p>Email: kevin.hellenbrandt@gmx.de</p>
</div>

@code {

}
