body {
}
.title-centered {
    text-align: center
}

.buzzer-index-container .buzzer-host-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-top: 50px;
}

.buzzer-index-container .buzzer-join-container{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.buzzer-index-container .buzzer-lobby-alert{
    margin-top: 50px;
}

.buzzer-host-container .buzzer-lobby-code-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.buzzer-host-container .buzzer-lobby-code{
    width: fit-content;
}

.buzzer-host-container .incorrect-answer-container{
    margin-top: 20px;
}

.buzzer-host-container .settings-button{
    background: none;
    color: black;
}

.buzzer-host-container .buzzer-host-text-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.buzzer-host-container .buzzer-host-buzzer-container{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
    text-align: center;
}

.buzzer-host-container .buzzer-host-buzzer-container .card-subtitle {
    margin-top: 20px;
}

.buzzer-host-container .buzzer-host-unlock-all-text{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.buzzer-host-container .buzzer-host-unlock-all-text button{
    font-size: 20px;
}

.buzzer-host-container .buzzer-host-kick-player-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.buzzer-player-card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}

.buzzer-player-card {
    text-align: center;
}

.buzzer-host-container .buzzer-host-player-card-checkbox-container{
    justify-content: center;
    margin: 0;
}

.buzzer-player-card-username{
    margin-bottom: 20px;
}

.buzzer-play-container .buzzer-play-input-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.buzzer-play-container .buzzer-play-input{
    width: 50%;
}

.buzzer-play-container .buzzer-host-text{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.buzzer-play-container .buzzer-play-buzzer-container{
    margin-top: 30px;
    text-align: center;
}

.buzzer-play-container .buzzer-play-buzzer {
    font-size: 50px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.buzzer-play-container .buzzer-play-buzzer-text{
    font-size: 30px;
    margin-top: 20px;
}