body {
}
.header {
    height: 50px;
    background: #333333;
    box-shadow: 5px 7px 15px -5px rgba(0,0,0,0.69);
    position: relative;
    display: flex;
    align-items: center;
}

.header {
    .username-container{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        align-content: center;
    }
    .mobile-menu-button-container{
        display: none;
        .btn{
            background: none;
            color: var(--dark-mode-text);
            border: none;
            box-shadow: none;
        }
    }
    .home-icon{
        color: var(--dark-mode-text);
        box-shadow: 2px 3px 22px -3px rgba(0,0,0,0.78);
    }
}

.header .username-container .username-input{
    width: fit-content;
    display: inline;
}

.header .home-icon:hover {
    color: grey;
    cursor: pointer;
}

.header .home-icon-container{
    position: absolute;
    right: 30px;
}

.header .home-icon-container:hover{
    
}

@media screen and (max-width: 499px){
    .header{
        .username-container{
            margin-left: 10px;
            .input-group-text{
                display: none;
            }
        }
    }
    .header {
        .username-container{
            display: none;
        }
        .mobile-menu-button-container{
            display: block;
        }
    }
}